<?xml version="1.0" encoding="UTF-8"?>
<beans xmlns="http://www.springframework.org/schema/beans"
       xmlns:xsi="http://www.w3.org/2001/XMLSchema-instance"
       xmlns:context="http://www.springframework.org/schema/context"
       xsi:schemaLocation="http://www.springframework.org/schema/beans 
           http://www.springframework.org/schema/beans/spring-beans-2.5.xsd
           http://www.springframework.org/schema/context
           http://www.springframework.org/schema/context/spring-context-2.5.xsd">
               
	<context:annotation-config/>
	<context:component-scan base-package="dao.impl" /><!--spring中的bean在dao.impl里找-->
	
   <!--  <bean id="u" class="dao.impl.UserDAOImpl" />
    <bean id="u2" class="dao.impl.UserDAOImpl" /> -->
    
	<bean id="userService" class="service.UserService">
		
	</bean>
</beans>


<!-- <?xml version="1.0" encoding="UTF-8"?>
<beans xmlns="http://www.springframework.org/schema/beans"
       xmlns:xsi="http://www.w3.org/2001/XMLSchema-instance"
       xmlns:context="http://www.springframework.org/schema/context"
       xsi:schemaLocation="http://www.springframework.org/schema/beans 
           http://www.springframework.org/schema/beans/spring-beans-2.5.xsd
           http://www.springframework.org/schema/context
           http://www.springframework.org/schema/context/spring-context-2.5.xsd">
<context:annoation-config></context:annoation-config>

  <bean id="u" class="dao.impl.UserDAOImpl">
  </bean>

  <bean id="userService" class="service.UserService">
  	<property name="userDAO" ref="u"/>
  </bean>
	

</beans> -->