@charset "utf-8";
/* CSS Document */

#Container {
		margin:0px auto;
		width:980px;
		background-color:#FFF;
}

.img {
		float:left;
		width:980px;
		height:130px;
		background:url(../images/login.jpg) no-repeat;
}

#Info {
		width:980px;
		float:left;
		padding-top:40px;
}

.left {
		width:440px;
		height:360px;
		float:left;
		background-color:#996;
		background:url(../images/tupian.jpg) no-repeat;
}

.right {
		width:530px;
		height:360px;
		float:right;
		background-color:#FFF;
		border:1px solid #CCC;
}

.right .info {
	margin-top:30px;
}

.right .info a {
	color:#33C;
	text-decoration:none;
}

.right .info2 {
	margin-top:40px;
}
.right .info2 a {
	color:#33C;
	text-decoration:none;
}
