 /*当当网注册面*/
 .main1{  background-image:url(image/mobile.gif);
                      width:738px;height:30px;margin-top:-15px;}
 .main1 ul li{float:left;list-style-type:none;padding-right:127px; 
               height:10px;line-height:10px;
                padding-top:10px;
               color:#999999;font-size:14px;}       
.main1 img{height:30px;width:738px;padding-top:10px;}
/*文本框的标题*/
.main2table{color:#404040;
              text-align:right;
               font-size:14px; 
               width:210px;
               padding-left:40px;}
  /*文本框的宽度*/
 .tableTextbox{width:200px;}
 /*表格*/
 table tr td input{width:170px;height:20px;
                     border-left:2px solid #888;
                     border-top:2px solid #888;
                     border-right:1px solid #ccc;
                     border-bottom:1px solid #ccc;}
    
 table{margin-top:30px;}
 table tr td{height:30px;padding-top:20px; }
 
 /*图片按钮*/
 .main2  input{margin-top:20px;margin-left:245px;}
 .div1{height:20px;line-height:20px;
       color:#79B900;}
 .div2{ height:20px;line-height:20px;
        color:Gray;}
/*复选框*/
 #checkbox{margin-left:200px;}
